<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanbit.web.persistence.GuestMapper">
    <select id="getAllGuests" resultType="com.hanbit.web.vo.GuestVo">
        SELECT * FROM guest
    </select>
    
    <select id="getGuestByID" parameterType="int" resultType="com.hanbit.web.vo.GuestVo">
        SELECT * FROM guest where guest_no = #{id}
    </select>
    <insert id="addGuest" parameterType="com.hanbit.web.vo.GuestVo" >
        insert into guest (guest_no, name, title, nalja, read_hit) 
        values ( bre_seq.nextval, #{name}, #{title}, sysdate, #{readHIt}
    </insert>
    
   
    <update id="upldateGuest" parameterType="com.hanbit.web.vo.GuestVo">
    	update guest set title = #{title}
    	where guest_no = #{guestNo}
    </update>
    
    <delete id="removeGuest" parameterType="com.hanbit.web.vo.GuestVo">
        delete guest where guest_no = #{guestNo);
    </delete>
</mapper>

